.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems,
.messages {
  padding: 10px;
}

.dialogsItems .dialog a {
  color: #fff;
  text-decoration: none;
}

.dialogsItems .dialog a.active {
  color: gold;
}

.messages .message {
  color: #fff;
}
